<h1 align="center">Hello, I'm {{name}}</h1>

<h3 align="center">
  {{description}}
  <img src="https://github.com/{{ username }}/{{ username }}/raw/master/doge.png" title="wow such description" alt="doge" width="32" height="32" />
</h3>

<p align="center">
  {%- for item in badges %}
  <img src="{{ item.url or item }}" alt="{{ item.title if item.url else username }}" title="{{ item.title if item.url else username }}" />
  {%- endfor %}
</p>

{%- set currentProject = projects | selectattr('status', '==', 'working') | list | last %}
{% if currentProject is defined %}
🔭&nbsp;&nbsp;I’m currently working on [{{ currentProject.name }}]({{ currentProject.URL }})
{%- endif %}

{%- set learningProject = projects | selectattr('status', '==', 'learning') | list | last %}
{% if learningProject is defined %}
🌱&nbsp;&nbsp;I’m currently learning [{{ learningProject.name }}]({{ learningProject.URL }})
{%- endif %}

👨‍💻&nbsp;&nbsp;My projects are available at [{{ website.name }}]({{ website.URL }})

💬&nbsp;&nbsp;Ask me about **{{ askme | join(', ') }}**

📫&nbsp;&nbsp;You can reach me on **{{ reachMe }}**

⚡&nbsp;&nbsp;Fun fact **{{ funFact }}**

<p align="center">
  {%- for item in stack %}
  <img src="{{ item.imageURL }}" alt="{{ item.name }}" width="{{ item.width or item.size | default(32) }}" height="{{ item.height or item.size | default(32) }}"/>
  {%- endfor %}
</p>

<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username={{username}}&show_icons=true" alt="{{username}}" />
</p>

<p align="center">
  {%- for item in social %}
  <a href="{{ item.URL }}" title="{{ item.name }}" target="blank"><img align="center" src="{{ item.imageURL }}" alt="{{ item.name }} icon" height="{{ item.height or item.size | default(24) }}" width="{{ item.width or item.size | default(24) }}" /></a>
  {%- endfor %}
</p>
